In [22]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("stacked.csv")

In [27]:
for i in range(len(df)):
    for j in range(len(df.columns)):
        cur_cel = df.iloc[i,j]
        if(type(cur_cel)==str):
            df.iloc[i,j] = cur_cel.replace(u'\xa0', '')

df.to_csv("stacked_fixed.csv")
df

,Country,Year,65-69 years,70-74 years,85+ years,80-84 years,75-79 years,60-64 years,45-49 years,55-59 years,...,10-14 years,5-9 years,30-34 years,35-39 years,<1 year,50-54 years,20-24 years,40-44 years,1-4 years,25-29 years
0,Democratic Republic of the Congo,2019,10008,11977,13513,11759,12517,8213,3219.0,6082,...,889.00,1142.00,1228.0,1652,6636,4520.0,839.4,2371.0,1864,983.1
1,Zimbabwe,2019,9828,10905,10017,9612,10999,8823,5426.0,7684,...,623.40,487.50,2093.0,3010,4186,6815.0,1238.0,4283.0,1616,1505.0
2,Timor-Leste,2019,10020,13151,19055,15329,15281,7302,2136.0,4892,...,338.20,466.10,701.7,960.1,3547,3300.0,520.5,1417.0,628.5,571.7
3,Samoa,2019,10028,12360,19434,14302,14151,7986,3060.0,5962,...,168.30,178.90,1137.0,1500,1018,4323.0,745.0,2126.0,186.1,913.8
4,Lithuania,2019,7964,10034,34375,15502,12181,5885,2086.0,4050,...,80.08,60.01,780.6,1164,351.1,2913.0,275.9,1543.0,64.41,477.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,Botswana,2000,5512,5062,2672,3161,4276,5854,8719.0,6501,...,403.20,785.30,9758.0,9794,3376,7659.0,4273.0,9116.0,3713,7972.0
911,Kenya,2000,7032,8221,9035,7586,8589,6245,6673.0,5783,...,536.10,953.70,5030.0,6477,5753,6063.0,1484.0,6814.0,3895,3208.0
912,Eswatini,2000,6648,6614,3736,4529,5927,6666,7174.0,6877,...,348.40,794.70,6850.0,6869,7047,7189.0,3940.0,6932.0,4258,6048.0
913,Burkina Faso,2000,8351,9918,8040,8206,9799,7126,4319.0,5739,...,762.80,2071.00,2312.0,3098,9307,4984.0,992.2,3800.0,8848,1563.0
914,Namibia,2000,7961,8376,6231,6656,8045,7500,6791.0,7043,...,494.60,764.40,5572.0,6300,4491,7010.0,2255.0,6621.0,3022,3884.0

In [8]:
df.iloc[2,2]

'10\xa0020'