# Import

In [1]:
# import libraries
import pandas as pd
import numpy as np

## GHO

In [2]:
# import datasets
ageRange_df = pd.read_csv('data/who_people_dying_between_ages.csv')

ageRange_df.drop(['IndicatorCode', 'Indicator', 'ValueType',
       'ParentLocation', 'Location type', 'SpatialDimValueCode','Period type', 'IsLatestYear', 'Dim1 type', 'Dim2 type',
        'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'], axis=1, inplace=True)

ageRange_df.rename(columns = {'ParentLocationCode':'CountryID',
                              'Location': 'Country',
                              'Period': 'Year',
                              'Dim1': 'Sex',
                              'Dim1ValueCode': 'SexID',
                              'Dim2': 'Range',
                              'Dim2ValueCode': 'RangeID',
                              'Value':'Deaths'}, inplace = True)

ageRange_df.head()

,CountryID,Country,Year,Sex,SexID,Range,RangeID,Deaths
0,AFR,Chad,2019,Male,MLE,65-69 years,AGE65-69,10 000
1,AFR,Ethiopia,2019,Male,MLE,65-69 years,AGE65-69,10 003
2,EUR,Kyrgyzstan,2019,Female,FMLE,70-74 years,AGE70-74,10 007
3,AFR,Democratic Republic of the Congo,2019,Both sexes,BTSX,65-69 years,AGE65-69,10 008
4,EMR,Syrian Arab Republic,2019,Male,MLE,65-69 years,AGE65-69,10 008

## Kaggle

In [3]:
kaggle_df = pd.read_csv('data/kaggle_dataset.csv')

kaggle_df.drop(['Alcohol', 'Hepatitis B', 'Measles ', 'Polio', 'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources'], axis=1, inplace=True)

In [4]:
# Replacing the Null Values with mean values of the data
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean',fill_value=None)
kaggle_df['Life expectancy ']=imputer.fit_transform(kaggle_df[['Life expectancy ']])
kaggle_df['Adult Mortality']=imputer.fit_transform(kaggle_df[['Adult Mortality']])
kaggle_df[' BMI ']=imputer.fit_transform(kaggle_df[[' BMI ']])
kaggle_df['Total expenditure']=imputer.fit_transform(kaggle_df[['Total expenditure']])
kaggle_df['GDP']=imputer.fit_transform(kaggle_df[['GDP']])
kaggle_df['Population']=imputer.fit_transform(kaggle_df[['Population']])
kaggle_df['Schooling']=imputer.fit_transform(kaggle_df[['Schooling']])

#kaggle_df.isnull().sum()

In [5]:
kaggle_df.rename(columns = {'Life expectancy ':'LifeExpectancy',
                            'Adult Mortality':'AdultMortality',
                            'infant deaths':'InfantDeaths',
                            'percentage expenditure':'%Expenditure',
                            'under-five deaths ':'Deaths<5',
                            'Total expenditure':'TotalExpenditure'
                            }, inplace = True)
kaggle_df.head()

,Country,Year,Status,LifeExpectancy,AdultMortality,InfantDeaths,%Expenditure,BMI,Deaths<5,TotalExpenditure,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,73.523582,18.6,86,8.18,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5

### Diseases

In [6]:
diseases2000_df = pd.read_csv('data/2000.csv')
diseases2000_df.dropna(axis=1, thresh = 100, inplace = True)
diseases2000_df.drop(['?'], axis=1, inplace=True)
#diseases2000_df.head()

diseases2010_df = pd.read_csv('data/2010.csv')
diseases2010_df.dropna(axis=1, thresh = 100, inplace = True)
diseases2010_df.drop(['?'], axis=1, inplace=True)
#diseases2010_df.head()

diseases2015_df = pd.read_csv('data/2015.csv')
diseases2015_df.dropna(axis=1, thresh = 100, inplace = True)
diseases2015_df.drop(['?'], axis=1, inplace=True)
#diseases2015_df.head()

In [7]:
#specifi2_values = diseases2015_df['specific1'].tolist()
#mylist = list(dict.fromkeys(specifi2_values))
#print(mylist)

# MORTALITY

## Time-line chart
- country
- year
- life expectancy 
- infant mortality
- adult mortality
- under-five mortality over the years.

Asse x--> year
Asse y --> lifeExpectancy/Death('InfantDeaths', 'AdultMortality', 'Deaths<5' tutti e tre insieme)
ci saranno due dropdow: uno cambia asse y e uno il paese

In [10]:
cols = ['Country', 'Year', 'LifeExpectancy', 'InfantDeaths', 'AdultMortality', 'Deaths<5']
time_line = kaggle_df[cols]
time_line.head()

       Country  Year  LifeExpectancy  InfantDeaths  AdultMortality  Deaths<5
0  Afghanistan  2015            65.0            62           263.0        83
1  Afghanistan  2014            59.9            64           271.0        86
2  Afghanistan  2013            59.9            66           268.0        89
3  Afghanistan  2012            59.5            69           272.0        93
4  Afghanistan  2011            59.2            71           275.0        97

## Stacked bar chart
- CountryID
- Country (top 10)
- Year
- Sex
- SexID
- Range
- RangeID
- Deaths
- prendere population da kaggle

## Histogram
- Country
- count life expectancy
- year

## Heatmap
tutte di kaggle
utilizzare df.corr() per ottenere la correlazione

# DISEASES

## Horizontal bar chart
- country 
- year
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

## Scatter plot
- country (top 10 country by number of death for the specific diseas)
- year (2000.csv)
- life expectancy
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

## Sankey

- deaths
- country
- year
- communicable
- uncommunicable
-  'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

# ECONOMIC

## Violin chart
- country
- year
- status
- life expectancy

## Scatter plot
- TotalExpenditure
- GDP
- %Expenditure
- country

## Choroplet map
- country
- TotalExpenditure
- GDP
- %Expenditure
- country
- year