# Import

In [46]:
# import libraries
import pandas as pd
import numpy as np

In [47]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

## GHO

In [50]:
# import datasets
ageRange_df = pd.read_csv('data/who_people_dying_between_ages.csv')

ageRange_df.drop(['IndicatorCode', 'Indicator', 'ValueType',
       'ParentLocation', 'Location type', 'SpatialDimValueCode','Period type', 'IsLatestYear', 'Dim1 type', 'Dim2 type',
        'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'], axis=1, inplace=True)

ageRange_df.rename(columns = {'ParentLocationCode':'CountryID',
                              'Location': 'Country',
                              'Period': 'Year',
                              'Dim1': 'Sex',
                              'Dim1ValueCode': 'SexID',
                              'Dim2': 'Range',
                              'Dim2ValueCode': 'RangeID',
                              'Value':'Deaths'}, inplace = True)

## Kaggle

In [51]:
kaggle_df = pd.read_csv('data/kaggle_dataset.csv')

kaggle_df.drop(['Alcohol', 'Hepatitis B', 'Measles ', 'Polio', 'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources'], axis=1, inplace=True)

In [52]:
# Replacing the Null Values with mean values of the data
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean',fill_value=None)
kaggle_df['Life expectancy ']=imputer.fit_transform(kaggle_df[['Life expectancy ']])
kaggle_df['Adult Mortality']=imputer.fit_transform(kaggle_df[['Adult Mortality']])
kaggle_df[' BMI ']=imputer.fit_transform(kaggle_df[[' BMI ']])
kaggle_df['Total expenditure']=imputer.fit_transform(kaggle_df[['Total expenditure']])
kaggle_df['GDP']=imputer.fit_transform(kaggle_df[['GDP']])
kaggle_df['Population']=imputer.fit_transform(kaggle_df[['Population']])
kaggle_df['Schooling']=imputer.fit_transform(kaggle_df[['Schooling']])

#kaggle_df.isnull().sum()

In [53]:
kaggle_df.rename(columns = {'Life expectancy ':'LifeExpectancy',
                            'Adult Mortality':'AdultMortality',
                            ' BMI ':'BodyMassIndex',
                            'infant deaths':'InfantDeaths',
                            'percentage expenditure':'%Expenditure',
                            'under-five deaths ':'DeathsUnder5',
                            'Total expenditure':'TotalExpenditure'
                            }, inplace = True)
kaggle_df.head()

,Country,Year,Status,LifeExpectancy,AdultMortality,InfantDeaths,%Expenditure,BodyMassIndex,DeathsUnder5,TotalExpenditure,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,73.523582,18.6,86,8.18,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5

## Diseases

In [76]:
valid_values = ['Infectious and parasitic diseases', 
                'Nutrional deficiences', 
                'Maligment neoplasms', 
                'Mental and substance use disorders', 
                'Neurological conditions', 
                'Cardiovascular diseases', 
                'Respiratory diseases', 
                'Digestive diseases', 
                'Unintentional injuries', 
                'Intentional injuries']

def clear_dataset(df):
    df2 = df.copy()
    df2[df2 == "."] = np.nan # replace every missing value with nan
    df2.drop(['?'], axis=1, inplace=True)
    df2.dropna(axis=1, how='all', inplace = True) # remove columns which contain ALL missing value
    df2.dropna(axis=0, how='all', inplace = True) # remove rows which contain ALL missing value
    df2 = df2[df2['specific1'].isin(valid_values)] # filtered only the diseases we want
    return df2

In [77]:
diseases2000_df = pd.read_csv('data/2000.csv')
diseases2000_df = clear_dataset(diseases2000_df)
diseases2000_df = diseases2000_df.T

In [78]:
diseases2010_df = pd.read_csv('data/2010.csv')
diseases2010_df = clear_dataset(diseases2010_df)
diseases2010_df = diseases2010_df.T

In [79]:
diseases2015_df = pd.read_csv('data/2015.csv')
diseases2015_df = clear_dataset(diseases2015_df)
diseases2015_df = diseases2015_df.T

# Rename columns with all category of diseases
test = diseases2015_df_traspose.copy()

def rename_columns(df):
    aux = df.iloc[:4, :].fillna('').apply(lambda x: ' / '.join(x), axis=0)
    aux = aux.to_frame().T
    df.columns = aux.iloc[0].values
    df = df.iloc[1:,:]
    return df

test = rename_columns(test)
test.drop(['specific1', 'specific2', 'specific3'], axis=0, inplace=True)
#test.head()

# MORTALITY

## Time-line chart
- country
- year
- life expectancy 
- infant mortality
- adult mortality
- under-five mortality over the years.

Asse x--> year
Asse y --> lifeExpectancy/Death('InfantDeaths', 'AdultMortality', 'Deaths<5' tutti e tre insieme)
ci saranno due dropdow: uno cambia asse y e uno il paese

In [59]:
cols = ['Country', 'Year', 'LifeExpectancy', 'InfantDeaths', 'AdultMortality', 'DeathsUnder5']
time_line = kaggle_df[cols]
time_line.head()

,Country,Year,LifeExpectancy,InfantDeaths,AdultMortality,DeathsUnder5
0,Afghanistan,2015,65.0,62,263.0,83
1,Afghanistan,2014,59.9,64,271.0,86
2,Afghanistan,2013,59.9,66,268.0,89
3,Afghanistan,2012,59.5,69,272.0,93
4,Afghanistan,2011,59.2,71,275.0,97

In [14]:
time_line.to_csv("CSV/time_line.csv")

## Stacked bar chart
- CountryID
- Country (top 10)
- Year
- Sex
- SexID
- Range
- RangeID
- Deaths
- prendere population da kaggle

In [60]:
temp = ageRange_df[ageRange_df['SexID'] == 'BTSX']
temp = temp[['Country', 'Year', 'SexID', 'Range', 'Deaths']]
ranges = ageRange_df.Range.values.tolist()
ranges = list(dict.fromkeys(ranges))

In [61]:
for r in ranges:
    temp[r] = np.nan
    
for index, row in temp.iterrows():
    current_range = row['Range']
    temp.loc[index, current_range] = row['Deaths']

temp.drop(columns=["SexID","Range","Deaths"], axis=1, inplace=True)   
temp.head()

,Country,Year,65-69 years,70-74 years,85+ years,80-84 years,75-79 years,60-64 years,45-49 years,55-59 years,15-19 years,10-14 years,5-9 years,30-34 years,35-39 years,<1 year,50-54 years,20-24 years,40-44 years,1-4 years,25-29 years
3,Democratic Republic of the Congo,2019,10 008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Zimbabwe,2019,NaN,NaN,10 017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Timor-Leste,2019,10 020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Samoa,2019,10 028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Lithuania,2019,NaN,10 034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df = temp.copy()
cols = temp.columns
merged_df = pd.DataFrame(columns=cols)

# loop over each unique country-year pair in the original dataframe
for (country, year) in df[['Country', 'Year']].drop_duplicates().to_numpy():
    # extract the rows for the current country-year pair
    current_rows = df[(df['Country'] == country) & (df['Year'] == year)]
    
    # create a new row with the merged data
    new_row = {'Country': country, 'Year': year}
    for column in cols[2:]:
        # loop over the values in the current age column, taking the first non-null value
        new_value = None
        for value in current_rows[column].values:
            if pd.notnull(value):
                new_value = value
                break
        new_row[column] = new_value
    
    # add the new row to the merged dataframe
    merged_df = pd.concat([merged_df, pd.DataFrame(new_row, index=[0])], ignore_index=True)
    
# write the merged dataframe to a csv file
merged_df.to_csv('CSV/stacked.csv', index=False)

In [ ]:
merged_df.head()

## Histogram
- Country
- count life expectancy
- year

In [63]:
cols = ['Year', 'LifeExpectancy']
histogram = kaggle_df[cols]
histogram.head()

   Year  LifeExpectancy
0  2015            65.0
1  2014            59.9
2  2013            59.9
3  2012            59.5
4  2011            59.2

In [20]:
histogram.to_csv("CSV/histogram.csv")

## Heatmap
tutte di kaggle
utilizzare df.corr() per ottenere la correlazione

#### Correlation for each Country

In [25]:
rows = []
columns = ["LifeExpectancy", "AdultMortality", "InfantDeaths", "BodyMassIndex", "DeathsUnder5", "TotalExpenditure", "GDP", "Population", "Schooling"]
for country in kaggle_df["Country"].unique():
    country_df = kaggle_df[kaggle_df["Country"] == country]
    year_corr = country_df[columns].corr()
    for i in range(len(columns)):
        for j in range(len(columns)):
            column1 = columns[i]
            column2 = columns[j]
            correlation = year_corr.loc[column1, column2]
            rows.append([country, column1, column2, correlation])
                
with open("CSV/country_heatmap.csv", "w", encoding="utf-8") as f:
    f.write("Country,Group1,Group2,corr\n")
    for row in rows:
        f.write(f"{row[0]},{row[1]},{row[2]},{row[3]}\n")

# DISEASES

## Horizontal bar chart
- country 
- year
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

In [152]:
def processing_diseases(dataframe, year):
    df = dataframe.copy()
    df.drop(['all_causes', 'specific2','specific3'], axis=0, inplace=True)
    
    #rename the columns with the value of first row
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    
    #rename the specific3 column with Country
    df = df.rename_axis('specific1').reset_index()
    df = df.rename(columns={'specific1': 'Country'})
    
    #transform to numeric
    df = df.apply(pd.to_numeric, errors='ignore')
    
    # group the columns by their names, sum the values in each group
    df = df.groupby(level=0, axis=1).sum()
    df = df.set_index("Country").reset_index()
    df.insert(1, "Year", year)

    return df

In [153]:
diseases2000_df = processing_diseases(diseases2000_df, "2000")
diseases2010_df = processing_diseases(diseases2010_df, "2010")
diseases2015_df = processing_diseases(diseases2015_df, "2015")

In [154]:
diseases_df = pd.concat([diseases2000_df, diseases2010_df, diseases2015_df], axis=0)

## Scatter plot
- country (top 10 country by number of death for the specific diseas)
- year (2000.csv)
- life expectancy
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

## Sankey

- deaths
- country
- year
- communicable
- uncommunicable
-  'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

### istruzioni

l'utente scegliera' il paese con il menu dropdown. A questo punto il codice javascript esegue un file .py. L'argomento del main del programma python e' il nome del paese. il programma python costruisce il grafo del grafico sankey, tenendo conto del paese richiesto all'utente. L'output del programma python e' il file json, il quale e' infine usato da javascript per plottare il grafico d3.js

show me a javascript script that runs a python file with a certain argument

// This example uses the child_process module to run a Python script with an argument
const { spawn } = require('child_process');

const pythonProcess = spawn('python', ['my_python_script.py', 'my_argument']);

pythonProcess.stdout.on('data', (data) => {
  console.log(data.toString());
});

# ECONOMIC

## Violin chart
- country
- year
- status
- life expectancy

In [29]:
violin = kaggle_df[['Year', 'LifeExpectancy', 'Status']]
#violin = violin.groupby(['Year'])
violin.head()

   Year  LifeExpectancy      Status
0  2015            65.0  Developing
1  2014            59.9  Developing
2  2013            59.9  Developing
3  2012            59.5  Developing
4  2011            59.2  Developing

In [30]:
violin.to_csv("CSV/violin.csv")

## Scatter plot
- TotalExpenditure
- GDP
- %Expenditure
- country
- year

In [31]:
scatter = kaggle_df[['Year', 'GDP', '%Expenditure', 'LifeExpectancy', 'Country', 'Population']]
scatter.head()

   Year         GDP  %Expenditure  LifeExpectancy      Country  Population
0  2015  584.259210     71.279624            65.0  Afghanistan  33736494.0
1  2014  612.696514     73.523582            59.9  Afghanistan    327582.0
2  2013  631.744976     73.219243            59.9  Afghanistan  31731688.0
3  2012  669.959000     78.184215            59.5  Afghanistan   3696958.0
4  2011   63.537231      7.097109            59.2  Afghanistan   2978599.0

In [32]:
scatter.to_csv("CSV/scatter_economic.csv")

## Choroplet map
- country
- TotalExpenditure
- GDP
- %Expenditure
- country
- year