# Import

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [58]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

## GHO

In [2]:
# import datasets
ageRange_df = pd.read_csv('data/who_people_dying_between_ages.csv')

ageRange_df.drop(['IndicatorCode', 'Indicator', 'ValueType',
       'ParentLocation', 'Location type', 'SpatialDimValueCode','Period type', 'IsLatestYear', 'Dim1 type', 'Dim2 type',
        'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'], axis=1, inplace=True)

ageRange_df.rename(columns = {'ParentLocationCode':'CountryID',
                              'Location': 'Country',
                              'Period': 'Year',
                              'Dim1': 'Sex',
                              'Dim1ValueCode': 'SexID',
                              'Dim2': 'Range',
                              'Dim2ValueCode': 'RangeID',
                              'Value':'Deaths'}, inplace = True)


#ageRange_df['Deaths'] = ageRange_df['Deaths'].astype('|S80')
ageRange_df.head()

,CountryID,Country,Year,Sex,SexID,Range,RangeID,Deaths
0,AFR,Chad,2019,Male,MLE,65-69 years,AGE65-69,10 000
1,AFR,Ethiopia,2019,Male,MLE,65-69 years,AGE65-69,10 003
2,EUR,Kyrgyzstan,2019,Female,FMLE,70-74 years,AGE70-74,10 007
3,AFR,Democratic Republic of the Congo,2019,Both sexes,BTSX,65-69 years,AGE65-69,10 008
4,EMR,Syrian Arab Republic,2019,Male,MLE,65-69 years,AGE65-69,10 008

## Kaggle

In [3]:
kaggle_df = pd.read_csv('data/kaggle_dataset.csv')

kaggle_df.drop(['Alcohol', 'Hepatitis B', 'Measles ', 'Polio', 'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources'], axis=1, inplace=True)

In [4]:
# Replacing the Null Values with mean values of the data
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean',fill_value=None)
kaggle_df['Life expectancy ']=imputer.fit_transform(kaggle_df[['Life expectancy ']])
kaggle_df['Adult Mortality']=imputer.fit_transform(kaggle_df[['Adult Mortality']])
kaggle_df[' BMI ']=imputer.fit_transform(kaggle_df[[' BMI ']])
kaggle_df['Total expenditure']=imputer.fit_transform(kaggle_df[['Total expenditure']])
kaggle_df['GDP']=imputer.fit_transform(kaggle_df[['GDP']])
kaggle_df['Population']=imputer.fit_transform(kaggle_df[['Population']])
kaggle_df['Schooling']=imputer.fit_transform(kaggle_df[['Schooling']])

#kaggle_df.isnull().sum()

In [5]:
kaggle_df.rename(columns = {'Life expectancy ':'LifeExpectancy',
                            'Adult Mortality':'AdultMortality',
                            'infant deaths':'InfantDeaths',
                            'percentage expenditure':'%Expenditure',
                            'under-five deaths ':'DeathsUnder5',
                            'Total expenditure':'TotalExpenditure'
                            }, inplace = True)
kaggle_df.head()

,Country,Year,Status,LifeExpectancy,AdultMortality,InfantDeaths,%Expenditure,BMI,DeathsUnder5,TotalExpenditure,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,71.279624,19.1,83,8.16,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,73.523582,18.6,86,8.18,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,73.219243,18.1,89,8.13,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,78.184215,17.6,93,8.52,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,7.097109,17.2,97,7.87,63.537231,2978599.0,9.5

## Diseases

In [6]:
valid_values = ['Infectious and parasitic diseases', 
                'Nutrional deficiences', 
                'Maligment neoplasms', 
                'Mental and substance use disorders', 
                'Neurological conditions', 
                'Cardiovascular diseases', 
                'Respiratory diseases', 
                'Digestive diseases', 
                'Unintentional injuries', 
                'Intentional injuries']

def clear_dataset(df):
    df2 = df.copy()
    df2[df2 == "."] = np.nan # replace every missing value with nan
    df2.drop(['?'], axis=1, inplace=True)
    df2.dropna(axis=1, how='all', inplace = True) # remove columns which contain ALL missing value
    df2.dropna(axis=0, how='all', inplace = True) # remove rows which contain ALL missing value
    df2 = df2[df2['specific1'].isin(valid_values)] # filtered only the diseases we want
    return df2

In [7]:
diseases2000_df = pd.read_csv('data/2000.csv')
diseases2000_df = clear_dataset(diseases2000_df)

#diseases2000_df.head()

In [8]:
diseases2010_df = pd.read_csv('data/2010.csv')
diseases2010_df = clear_dataset(diseases2010_df)

#diseases2010_df.head()

In [9]:
diseases2015_df = pd.read_csv('data/2015.csv')
diseases2015_df = clear_dataset(diseases2015_df)

diseases2015_df_traspose = diseases2015_df.T

diseases2015_df_traspose.head()

,4,5,6,7,8,9,10,11,12,13,...,196,197,198,199,200,201,202,203,204,205
all_causes,"Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...","Communicable, maternal, perinatal and nutritio...",...,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries,Injuries
specific1,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,Infectious and parasitic diseases,...,Unintentional injuries,Unintentional injuries,Unintentional injuries,Unintentional injuries,Unintentional injuries,Unintentional injuries,Intentional injuries,Intentional injuries,Intentional injuries,Intentional injuries
specific2,NaN,Tuberculosis,STDs excluding HIV,STDs excluding HIV,STDs excluding HIV,STDs excluding HIV,STDs excluding HIV,STDs excluding HIV,STDs excluding HIV,HIV/AIDS,...,Falls,"Fire, heat and hot substances",Drowning,Exposure to mechanical forces,Natural disasters,Other unintentional injuries,NaN,Self-harm,Interpersonal violence,Collective violence and legal intervention
specific3,NaN,NaN,NaN,Syphilis,Chlamydia,Gonorrhoea,Trichomoniasis,Genital herpes,Other STDs,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,36.4,13.5,0.1,0.1,0.0,0.0,NaN,NaN,0.0,0.3,...,0.9,0.3,1.0,1.4,0.5,3.1,28.8,1.4,3.1,24.3

In [10]:
test = diseases2015_df_traspose.copy()

def rename_columns(df):
    aux = df.iloc[:4, :].fillna('').apply(lambda x: ' / '.join(x), axis=0)
    aux = aux.to_frame().T
    df.columns = aux.iloc[0].values
    df = df.iloc[1:,:]
    return df

test = rename_columns(test)
test.drop(['specific1', 'specific2', 'specific3'], axis=0, inplace=True)
test.head()

,"Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / /","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / Tuberculosis /","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / STDs excluding HIV /","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / STDs excluding HIV / Syphilis","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / STDs excluding HIV / Chlamydia","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / STDs excluding HIV / Gonorrhoea","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / STDs excluding HIV / Trichomoniasis","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / STDs excluding HIV / Genital herpes","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / STDs excluding HIV / Other STDs","Communicable, maternal, perinatal and nutritional conditions / Infectious and parasitic diseases / HIV/AIDS /",...,Injuries / Unintentional injuries / Falls /,"Injuries / Unintentional injuries / Fire, heat and hot substances /",Injuries / Unintentional injuries / Drowning /,Injuries / Unintentional injuries / Exposure to mechanical forces /,Injuries / Unintentional injuries / Natural disasters /,Injuries / Unintentional injuries / Other unintentional injuries /,Injuries / Intentional injuries / /,Injuries / Intentional injuries / Self-harm /,Injuries / Intentional injuries / Interpersonal violence /,Injuries / Intentional injuries / Collective violence and legal intervention /
Afghanistan,36.4,13.5,0.1,0.1,0.0,0.0,NaN,NaN,0.0,0.3,...,0.9,0.3,1.0,1.4,0.5,3.1,28.8,1.4,3.1,24.3
Albania,0.1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,...,0.1,0.0,0.0,0.0,0.0,0.1,0.3,0.1,0.1,0.0
Algeria,6.3,3.2,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.2,...,1.2,0.6,0.5,0.7,0.0,1.4,1.9,1.1,0.7,0.1
Angola,72.2,15.5,1.2,1.2,0.0,0.0,NaN,NaN,0.0,9.5,...,1.1,0.8,1.7,0.6,0.1,2.8,4.6,1.8,2.8,0.0
Antigua and Barbuda,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0

In [12]:
#test.isnull().sum()

In [13]:
#specifi2_values = diseases2015_df['specific1'].tolist()
#mylist = list(dict.fromkeys(specifi2_values))
#print(mylist)

# MORTALITY

## Time-line chart
- country
- year
- life expectancy 
- infant mortality
- adult mortality
- under-five mortality over the years.

Asse x--> year
Asse y --> lifeExpectancy/Death('InfantDeaths', 'AdultMortality', 'Deaths<5' tutti e tre insieme)
ci saranno due dropdow: uno cambia asse y e uno il paese

In [66]:
cols = ['Country', 'Year', 'LifeExpectancy', 'InfantDeaths', 'AdultMortality', 'DeathsUnder5']
time_line = kaggle_df[cols]
time_line.head()

In [ ]:
time_line.to_csv("CSV/time_line.csv")

## Stacked bar chart
- CountryID
- Country (top 10)
- Year
- Sex
- SexID
- Range
- RangeID
- Deaths
- prendere population da kaggle

In [15]:
temp = ageRange_df[ageRange_df['SexID'] == 'BTSX']
temp = temp[['Country', 'Year', 'SexID', 'Range', 'Deaths']]
ranges = ageRange_df.Range.values.tolist()
ranges = list(dict.fromkeys(ranges))

In [16]:
for r in ranges:
    temp[r] = np.nan
    
for index, row in temp.iterrows():
    current_range = row['Range']
    temp.loc[index, current_range] = row['Deaths']

temp.drop(columns=["SexID","Range","Deaths"], axis=1, inplace=True)
temp.head()

,Country,Year,65-69 years,70-74 years,85+ years,80-84 years,75-79 years,60-64 years,45-49 years,55-59 years,15-19 years,10-14 years,5-9 years,30-34 years,35-39 years,<1 year,50-54 years,20-24 years,40-44 years,1-4 years,25-29 years
3,Democratic Republic of the Congo,2019,10 008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Zimbabwe,2019,NaN,NaN,10 017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Timor-Leste,2019,10 020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Samoa,2019,10 028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Lithuania,2019,NaN,10 034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#..................................

## Histogram
- Country
- count life expectancy
- year

In [18]:
cols = ['Country', 'Year', 'LifeExpectancy']
histogram = kaggle_df[cols]
histogram.head()

       Country  Year  LifeExpectancy
0  Afghanistan  2015            65.0
1  Afghanistan  2014            59.9
2  Afghanistan  2013            59.9
3  Afghanistan  2012            59.5
4  Afghanistan  2011            59.2

## Heatmap
tutte di kaggle
utilizzare df.corr() per ottenere la correlazione

In [ ]:
correlation = kaggle_df.corr()

,Year,LifeExpectancy,AdultMortality,InfantDeaths,%Expenditure,BMI,DeathsUnder5,TotalExpenditure,GDP,Population,Schooling
Year,1.000000,0.169623,-0.078861,-0.037415,0.031400,0.108327,-0.042937,0.081860,0.093351,0.014951,0.203471
LifeExpectancy,0.169623,1.000000,-0.696359,-0.196535,0.381791,0.559255,-0.222503,0.207981,0.430493,-0.019638,0.715066
AdultMortality,-0.078861,-0.696359,1.000000,0.078747,-0.242814,-0.381449,0.094135,-0.110875,-0.277053,-0.012501,-0.435108
InfantDeaths,-0.037415,-0.196535,0.078747,1.000000,-0.085612,-0.227220,0.996629,-0.126564,-0.107109,0.548522,-0.191757
%Expenditure,0.031400,0.381791,-0.242814,-0.085612,1.000000,0.228537,-0.087852,0.173414,0.888140,-0.024648,0.388105
BMI,0.108327,0.559255,-0.381449,-0.227220,0.228537,1.000000,-0.237586,0.231814,0.276645,-0.063238,0.508105
DeathsUnder5,-0.042937,-0.222503,0.094135,0.996629,-0.087852,-0.237586,1.000000,-0.128269,-0.110640,0.535864,-0.207111
TotalExpenditure,0.081860,0.207981,-0.110875,-0.126564,0.173414,0.231814,-0.128269,1.000000,0.121467,-0.066698,0.218310
GDP,0.093351,0.430493,-0.277053,-0.107109,0.888140,0.276645,-0.110640,0.121467,1.000000,-0.025612,0.429489
Population,0.014951,-0.019638,-0.012501,0.548522,-0.024648,-0.063238,0.535864,-0.066698,-0.025612,1.000000,-0.029465
Schooling,0.203471,0.715066,-0.435108,-0.191757,0.388105,0.508105,-0.207111,0.218310,0.429489,-0.029465,1.000000

In [73]:
data = {'Group1':[],
       'Group2':[],
       'corr':[]}

heatmap = pd.DataFrame(data)
heatmap_data = []

for index, row in correlation.iterrows():
    for col in correlation.columns:
        new_row = {'Group1': index, 'Group2': col, 'corr': row[col]}
        heatmap_data.append(new_row)

heatmap = pd.DataFrame(heatmap_data)

#heatmap.loc[:, ["Group1", "Group2", 'corr']]
heatmap.head()

  Group1          Group2      corr
0   Year            Year  1.000000
1   Year  LifeExpectancy  0.169623
2   Year  AdultMortality -0.078861
3   Year    InfantDeaths -0.037415
4   Year    %Expenditure  0.031400

In [74]:
heatmap.to_csv("CSV/heatmap.csv")

# DISEASES

## Horizontal bar chart
- country 
- year
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

In [21]:
#diseases2015_df.head()

In [22]:
'''
print(diseases2015_df.columns)
temp = diseases2015_df.copy()
horizontal = temp.drop(['all_causes', 'specific2','specific3'], axis=1, inplace=True)

#diseases = diseases2015_df.specific1.values.to_list()
#diseases = list(dict.fromkeys(diseases))
'''

"\nprint(diseases2015_df.columns)\ntemp = diseases2015_df.copy()\nhorizontal = temp.drop(['all_causes', 'specific2','specific3'], axis=1, inplace=True)\n\n#diseases = diseases2015_df.specific1.values.to_list()\n#diseases = list(dict.fromkeys(diseases))\n"

In [23]:
#print(horizontal.columns)

## Scatter plot
- country (top 10 country by number of death for the specific diseas)
- year (2000.csv)
- life expectancy
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

## Sankey

- deaths
- country
- year
- communicable
- uncommunicable
-  'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

### istruzioni

l'utente scegliera' il paese con il menu dropdown. A questo punto il codice javascript esegue un file .py. L'argomento del main del programma python e' il nome del paese. il programma python costruisce il grafo del grafico sankey, tenendo conto del paese richiesto all'utente. L'output del programma python e' il file json, il quale e' infine usato da javascript per plottare il grafico d3.js

show me a javascript script that runs a python file with a certain argument

// This example uses the child_process module to run a Python script with an argument
const { spawn } = require('child_process');

const pythonProcess = spawn('python', ['my_python_script.py', 'my_argument']);

pythonProcess.stdout.on('data', (data) => {
  console.log(data.toString());
});

### codice

# ECONOMIC

## Violin chart
- country
- year
- status
- life expectancy

In [11]:
violin = kaggle_df[['Year', 'LifeExpectancy', 'Status']]
#violin = violin.groupby(['Year'])
violin.head()

   Year  LifeExpectancy      Status
0  2015            65.0  Developing
1  2014            59.9  Developing
2  2013            59.9  Developing
3  2012            59.5  Developing
4  2011            59.2  Developing

In [12]:
violin.to_csv("CSV/violin.csv")

## Scatter plot
- TotalExpenditure
- GDP
- %Expenditure
- country
- year

In [25]:
scatter = kaggle_df[['Year', 'GDP', '%Expenditure', 'LifeExpectancy', 'Country']]
scatter.head()

   Year         GDP  %Expenditure  LifeExpectancy      Country
0  2015  584.259210     71.279624            65.0  Afghanistan
1  2014  612.696514     73.523582            59.9  Afghanistan
2  2013  631.744976     73.219243            59.9  Afghanistan
3  2012  669.959000     78.184215            59.5  Afghanistan
4  2011   63.537231      7.097109            59.2  Afghanistan

## Choroplet map
- country
- TotalExpenditure
- GDP
- %Expenditure
- country
- year