# Import

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

## GHO

In [3]:
# import datasets
ageRange_df = pd.read_csv('data/who_people_dying_between_ages.csv')

ageRange_df.drop(['IndicatorCode', 'Indicator', 'ValueType',
       'ParentLocation', 'Location type', 'SpatialDimValueCode','Period type', 'IsLatestYear', 'Dim1 type', 'Dim2 type',
        'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'], axis=1, inplace=True)

ageRange_df.rename(columns = {'ParentLocationCode':'CountryID',
                              'Location': 'Country',
                              'Period': 'Year',
                              'Dim1': 'Sex',
                              'Dim1ValueCode': 'SexID',
                              'Dim2': 'Range',
                              'Dim2ValueCode': 'RangeID',
                              'Value':'Deaths'}, inplace = True)

In [4]:
for i in range(len(ageRange_df)):
    for j in range(len(ageRange_df.columns)):
        cur_cel = ageRange_df.iloc[i,j]
        if(type(cur_cel)==str):
            ageRange_df.iloc[i,j] = cur_cel.replace(u'\xa0', '')

## Kaggle

In [5]:
kaggle_df = pd.read_csv('data/kaggle_dataset.csv')

#kaggle_df.drop(['Alcohol', 'Hepatitis B', 'Measles ', 'Polio', 'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years', ' thinness 5-9 years',
#       'Income composition of resources'], axis=1, inplace=True)

In [6]:
# Replacing the Null Values with mean values of the data
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean',fill_value=None)
kaggle_df['Life expectancy ']=imputer.fit_transform(kaggle_df[['Life expectancy ']])
kaggle_df['Adult Mortality']=imputer.fit_transform(kaggle_df[['Adult Mortality']])
kaggle_df[' BMI ']=imputer.fit_transform(kaggle_df[[' BMI ']])
kaggle_df['Total expenditure']=imputer.fit_transform(kaggle_df[['Total expenditure']])
kaggle_df['GDP']=imputer.fit_transform(kaggle_df[['GDP']])
kaggle_df['Population']=imputer.fit_transform(kaggle_df[['Population']])
kaggle_df['Schooling']=imputer.fit_transform(kaggle_df[['Schooling']])
kaggle_df['Alcohol']=imputer.fit_transform(kaggle_df[['Alcohol']])
kaggle_df['Hepatitis B']=imputer.fit_transform(kaggle_df[['Hepatitis B']])
kaggle_df['Polio']=imputer.fit_transform(kaggle_df[['Polio']])
kaggle_df['Diphtheria ']=imputer.fit_transform(kaggle_df[['Diphtheria ']])
kaggle_df[' thinness  1-19 years']=imputer.fit_transform(kaggle_df[[' thinness  1-19 years']])
kaggle_df[' thinness 5-9 years']=imputer.fit_transform(kaggle_df[[' thinness 5-9 years']])
kaggle_df['Income composition of resources']=imputer.fit_transform(kaggle_df[['Income composition of resources']])
kaggle_df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [7]:
kaggle_df.rename(columns = {'Life expectancy ':'LifeExpectancy',
                            'Adult Mortality':'AdultMortality',
                            ' BMI ':'BodyMassIndex',
                            'infant deaths':'InfantDeaths',
                            'percentage expenditure':'%Expenditure',
                            'under-five deaths ':'DeathsUnder5',
                            'Total expenditure':'TotalExpenditure',
                            'Diphtheria ':'Diphtheria',
                            ' HIV/AIDS':'HIV/AIDS',
                            ' thinness  1-19 years':'Thinness 10-19 years',
                            ' thinness 5-9 years':'Thinness 5-9 years',
                            'Measles ':'Measles',
                            'Income composition of resources':'ICOR index'
                            }, inplace = True)
kaggle_df.head()

,Country,Year,Status,LifeExpectancy,AdultMortality,InfantDeaths,Alcohol,%Expenditure,Hepatitis B,Measles,BodyMassIndex,DeathsUnder5,Polio,TotalExpenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 10-19 years,Thinness 5-9 years,ICOR index,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

## Diseases

In [8]:
valid_values = ['Infectious and parasitic diseases', 
                'Nutrional deficiences', 
                'Maligment neoplasms', 
                'Mental and substance use disorders', 
                'Neurological conditions', 
                'Cardiovascular diseases', 
                'Respiratory diseases', 
                'Digestive diseases', 
                'Unintentional injuries', 
                'Intentional injuries']

def clear_dataset(df):
    df2 = df.copy()
    df2[df2 == "."] = np.nan # replace every missing value with nan
    df2.drop(['?'], axis=1, inplace=True)
    df2.dropna(axis=1, how='all', inplace = True) # remove columns which contain ALL missing value
    df2.dropna(axis=0, how='all', inplace = True) # remove rows which contain ALL missing value
    df2 = df2[df2['specific1'].isin(valid_values)] # filtered only the diseases we want
    return df2

In [9]:
diseases2000_df = pd.read_csv('data/2000.csv')
diseases2000_df = clear_dataset(diseases2000_df)
diseases2000_df = diseases2000_df.T

In [10]:
diseases2010_df = pd.read_csv('data/2010.csv')
diseases2010_df = clear_dataset(diseases2010_df)
diseases2010_df = diseases2010_df.T

In [11]:
diseases2015_df = pd.read_csv('data/2015.csv')
diseases2015_df = clear_dataset(diseases2015_df)
diseases2015_df = diseases2015_df.T

In [12]:
diseases2019_df = pd.read_csv('data/2019.csv')
diseases2019_df = clear_dataset(diseases2019_df)
diseases2019_df = diseases2019_df.T

# MORTALITY

## Time-line chart
- country
- year
- life expectancy 
- infant mortality
- adult mortality
- under-five mortality over the years.

Asse x--> year
Asse y --> lifeExpectancy/Death('InfantDeaths', 'AdultMortality', 'Deaths<5' tutti e tre insieme)
ci saranno due dropdow: uno cambia asse y e uno il paese

In [13]:
cols = ['Country', 'Year', 'LifeExpectancy', 'InfantDeaths', 'AdultMortality', 'DeathsUnder5']
time_line = kaggle_df[cols]
time_line.head()

,Country,Year,LifeExpectancy,InfantDeaths,AdultMortality,DeathsUnder5
0,Afghanistan,2015,65.0,62,263.0,83
1,Afghanistan,2014,59.9,64,271.0,86
2,Afghanistan,2013,59.9,66,268.0,89
3,Afghanistan,2012,59.5,69,272.0,93
4,Afghanistan,2011,59.2,71,275.0,97

In [14]:
#time_line.to_csv("CSV/time_line.csv")

## Stacked bar chart
- CountryID
- Country (top 10)
- Year
- Sex
- SexID
- Range
- RangeID
- Deaths
- prendere population da kaggle

In [15]:
temp = ageRange_df[ageRange_df['SexID'] == 'BTSX']
temp = temp[['Country', 'Year', 'SexID', 'Range', 'Deaths']]
ranges = ageRange_df.Range.values.tolist()
ranges = list(dict.fromkeys(ranges))

In [16]:
for r in ranges:
    temp[r] = np.nan
    
for index, row in temp.iterrows():
    current_range = row['Range']
    temp.loc[index, current_range] = row['Deaths']

temp.drop(columns=["SexID","Range","Deaths"], axis=1, inplace=True)   
temp.head()

,Country,Year,65-69 years,70-74 years,85+ years,80-84 years,75-79 years,60-64 years,45-49 years,55-59 years,15-19 years,10-14 years,5-9 years,30-34 years,35-39 years,<1 year,50-54 years,20-24 years,40-44 years,1-4 years,25-29 years
3,Democratic Republic of the Congo,2019,10008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Zimbabwe,2019,NaN,NaN,10017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Timor-Leste,2019,10020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Samoa,2019,10028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Lithuania,2019,NaN,10034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df = temp.copy()
cols = temp.columns
merged_df = pd.DataFrame(columns=cols)

# loop over each unique country-year pair in the original dataframe
for (country, year) in df[['Country', 'Year']].drop_duplicates().to_numpy():
    # extract the rows for the current country-year pair
    current_rows = df[(df['Country'] == country) & (df['Year'] == year)]
    
    # create a new row with the merged data
    new_row = {'Country': country, 'Year': year}
    for column in cols[2:]:
        # loop over the values in the current age column, taking the first non-null value
        new_value = None
        for value in current_rows[column].values:
            if pd.notnull(value):
                new_value = value
                break
        new_row[column] = new_value
    
    # add the new row to the merged dataframe
    merged_df = pd.concat([merged_df, pd.DataFrame(new_row, index=[0])], ignore_index=True)
    
'''    
merged_df["TotalDeaths"] = 0

for index, row in merged_df.iterrows():
    row["TotalDeaths"] = sum(merged_df[2:])
'''
# write the merged dataframe to a csv file
#merged_df.to_csv('CSV/stacked.csv', index=False)

'    \nmerged_df["TotalDeaths"] = 0\n\nfor index, row in merged_df.iterrows():\n    row["TotalDeaths"] = sum(merged_df[2:])\n'

In [18]:
merged_df.head()

,Country,Year,65-69 years,70-74 years,85+ years,80-84 years,75-79 years,60-64 years,45-49 years,55-59 years,15-19 years,10-14 years,5-9 years,30-34 years,35-39 years,<1 year,50-54 years,20-24 years,40-44 years,1-4 years,25-29 years
0,Democratic Republic of the Congo,2019,10008,11977,13513,11759,12517,8213,3219,6082,588.2,889,1142,1228,1652,6636,4520,839.4,2371,1864,983.1
1,Zimbabwe,2019,9828,10905,10017,9612,10999,8823,5426,7684,847.6,623.4,487.5,2093,3010,4186,6815,1238,4283,1616,1505
2,Timor-Leste,2019,10020,13151,19055,15329,15281,7302,2136,4892,382,338.2,466.1,701.7,960.1,3547,3300,520.5,1417,628.5,571.7
3,Samoa,2019,10028,12360,19434,14302,14151,7986,3060,5962,420.3,168.3,178.9,1137,1500,1018,4323,745,2126,186.1,913.8
4,Lithuania,2019,7964,10034,34375,15502,12181,5885,2086,4050,212.8,80.08,60.01,780.6,1164,351.1,2913,275.9,1543,64.41,477.7

## Histogram
- Country
- count life expectancy
- year

In [19]:
cols = ['Year', 'LifeExpectancy']
histogram = kaggle_df[cols]
histogram.head()

   Year  LifeExpectancy
0  2015            65.0
1  2014            59.9
2  2013            59.9
3  2012            59.5
4  2011            59.2

In [20]:
#histogram.to_csv("CSV/histogram.csv")

## Heatmap
tutte di kaggle
utilizzare df.corr() per ottenere la correlazione

#### Correlation for each Country

In [21]:
rows = []
columns = ["Population", "LifeExpectancy", "AdultMortality", "InfantDeaths", "DeathsUnder5", "TotalExpenditure", "GDP", "Schooling", "BodyMassIndex", "Alcohol", "Hepatitis B", "Polio", "ICOR index"]
for country in kaggle_df["Country"].unique():
    country_df = kaggle_df[kaggle_df["Country"] == country]
    year_corr = country_df[columns].corr()
    for i in range(len(columns)):
        for j in range(len(columns)):
            column1 = columns[i]
            column2 = columns[j]
            correlation = year_corr.loc[column1, column2]
            rows.append([country, column1, column2, correlation])
                
with open("CSV/country_heatmap.csv", "w", encoding="utf-8") as f:
    f.write("Country,Group1,Group2,corr\n")
    for row in rows:
        f.write(f"{row[0]},{row[1]},{row[2]},{row[3]}\n")

# DISEASES

In [22]:
def processing_diseases(dataframe, year):
    df = dataframe.copy()
    df.drop(['all_causes', 'specific2','specific3'], axis=0, inplace=True)
    
    #rename the columns with the value of first row
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    
    #rename the specific3 column with Country
    df = df.rename_axis('specific1').reset_index()
    df = df.rename(columns={'specific1': 'Country'})
    
    #transform to numeric
    df = df.apply(pd.to_numeric, errors='ignore')
    
    # group the columns by their names, sum the values in each group
    df = df.groupby(level=0, axis=1).sum()
    df = df.set_index("Country").reset_index()
    df.insert(1, "Year", year)
    return df

In [23]:
_diseases2000_df = processing_diseases(diseases2000_df, "2000")
_diseases2010_df = processing_diseases(diseases2010_df, "2010")
_diseases2015_df = processing_diseases(diseases2015_df, "2015")
_diseases2019_df = processing_diseases(diseases2019_df, "2019")


diseases_df = pd.concat([_diseases2000_df, _diseases2010_df, _diseases2015_df, _diseases2019_df], axis=0)

diseases_df.dtypes

specific1
Country                                object
Year                                   object
Cardiovascular diseases               float64
Digestive diseases                    float64
Infectious and parasitic diseases     float64
Intentional injuries                  float64
Mental and substance use disorders    float64
Neurological conditions               float64
Respiratory diseases                  float64
Unintentional injuries                float64
dtype: object

## Horizontal bar chart
- country 
- year
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

In [24]:
# melt the dataframe to unpivot the columns
melted_df = pd.melt(diseases_df, id_vars=['Country', 'Year'], var_name='Disease', value_name='Deaths')

# sort the dataframe by Country and Year
horizontal_barchart = melted_df.sort_values(['Country', 'Year'])

horizontal_barchart.head()

          Country  Year                             Disease  Deaths
0     Afghanistan  2000             Cardiovascular diseases   101.6
732   Afghanistan  2000                  Digestive diseases    14.1
1464  Afghanistan  2000   Infectious and parasitic diseases   173.5
2196  Afghanistan  2000                Intentional injuries    17.9
2928  Afghanistan  2000  Mental and substance use disorders     0.5

In [25]:
#horizontal_barchart.to_csv("CSV/horizontal_barchart.csv")

## Scatter plot
- country (top 10 country by number of death for the specific diseas)
- year (2000.csv)
- life expectancy
- 'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

In [26]:
scatter = kaggle_df[["LifeExpectancy", "Population", "Country", "Year"]]

In [27]:
new_scatter = scatter.copy()
new_scatter['Country'] = scatter['Country'].astype(str)
new_scatter['Year'] = pd.to_numeric(new_scatter['Year'], errors='coerce').astype('Int64')

new_scatter.dtypes
#diseases_df.head()

LifeExpectancy    float64
Population        float64
Country            object
Year                Int64
dtype: object

In [50]:
new_scatter[new_scatter["Country"] == "Vietnam"]

      LifeExpectancy    Population  Country  Year
2874            76.0  1.275338e+07  Vietnam  2015
2875            75.9  1.275338e+07  Vietnam  2014
2876            75.7  1.275338e+07  Vietnam  2013
2877            75.6  1.275338e+07  Vietnam  2012
2878            75.4  1.275338e+07  Vietnam  2011
2879            75.2  1.275338e+07  Vietnam  2010
2880            75.0  1.275338e+07  Vietnam  2009
2881            74.9  1.275338e+07  Vietnam  2008
2882            74.7  1.275338e+07  Vietnam  2007
2883            74.6  1.275338e+07  Vietnam  2006
2884            74.4  1.275338e+07  Vietnam  2005
2885            74.2  1.275338e+07  Vietnam  2004
2886            74.0  1.275338e+07  Vietnam  2003
2887            73.8  1.275338e+07  Vietnam  2002
2888            73.6  1.275338e+07  Vietnam  2001
2889            73.4  1.275338e+07  Vietnam  2000

In [28]:
new_diseases_df = diseases_df.copy()
new_diseases_df['Year'] = pd.to_numeric(new_diseases_df['Year'], errors='coerce').astype('Int64')
new_diseases_df.dtypes

specific1
Country                                object
Year                                    Int64
Cardiovascular diseases               float64
Digestive diseases                    float64
Infectious and parasitic diseases     float64
Intentional injuries                  float64
Mental and substance use disorders    float64
Neurological conditions               float64
Respiratory diseases                  float64
Unintentional injuries                float64
dtype: object

In [51]:
new_diseases_df[new_diseases_df["Country"] == "Vietnam"]

specific1,Country,Year,Cardiovascular diseases,Digestive diseases,Infectious and parasitic diseases,Intentional injuries,Mental and substance use disorders,Neurological conditions,Respiratory diseases,Unintentional injuries
179,Vietnam,2000,458.7,65.5,116.9,12.5,2.5,36.7,69.0,79.3
179,Vietnam,2010,640.7,64.9,83.1,15.6,3.9,54.6,79.6,93.0
179,Vietnam,2015,696.6,145.4,64.5,17.6,5.1,64.0,85.3,102.5
179,Vietnam,2019,733.5,90.6,57.0,18.1,5.9,71.5,90.1,117.6

# Set "Country" and "Year" as the index in both dataframes
df1 = scatter.set_index(['Year'])
df2 = diseases_df.set_index(['Year'])

print(len(df1.groupby(['Year'])))
print(len(df2.groupby(['Year'])))

# Concatenate the two dataframes along the columns axis
merged_df = pd.concat([df1, df2], axis=1, join='inner')

# Reset the index
merged_df = merged_df.reset_index()
merged_df.head()

In [29]:
df1 = new_scatter.copy()
df2 = new_diseases_df.copy()

In [30]:
# merge the two dataframes on 'Country' and 'Year'
result = pd.merge(df1, df2, on=['Country', 'Year'])

# select the desired columns in the desired order
result = result[['Country', 'Year', 'LifeExpectancy', 'Population', 'Cardiovascular diseases', 'Digestive diseases', 'Infectious and parasitic diseases', 'Intentional injuries', 'Mental and substance use disorders', 'Neurological conditions', 'Respiratory diseases', 'Unintentional injuries']]

In [31]:
#merged_df.to_csv("CSV/scatter_diseases.csv")
#result['Population'] = pd.to_numeric(result['Population'], errors='coerce').astype('Int64')
result.head()

,Country,Year,LifeExpectancy,Population,Cardiovascular diseases,Digestive diseases,Infectious and parasitic diseases,Intentional injuries,Mental and substance use disorders,Neurological conditions,Respiratory diseases,Unintentional injuries
0,Afghanistan,2015,65.0,33736494.0,140.3,35.9,81.6,57.6,1.1,6.3,15.0,25.0
1,Afghanistan,2010,58.8,2883167.0,125.9,17.9,102.1,24.6,0.8,5.6,14.4,30.0
2,Afghanistan,2000,54.8,293756.0,101.6,14.1,173.5,17.9,0.5,4.2,12.2,22.5
3,Albania,2015,77.8,28873.0,32.5,2.2,0.1,0.5,0.0,2.8,1.6,1.3
4,Albania,2010,76.2,291321.0,23.6,1.2,0.1,0.7,0.0,1.7,1.2,1.6

In [32]:
scatter_diseases = result.copy()

In [33]:
scatter_diseases.to_csv("CSV/scatter_diseases.csv")

## Sankey

- deaths
- country
- year
- communicable
- uncommunicable
-  'Infectious and parasitic diseases', 'Nutrional deficiences', 'Maligment neoplasms', 'Mental and substance use disorders', 'Neurological conditions', 'Cardiovascular diseases', 'Respiratory diseases', 'Digestive diseases', 'Skin diseases', 'Unintentional injuries', 'Intentional injuries''

source_file = "data/2000.csv";
country = "Argentina";
df = pd.read_csv(source_file);

link_list = []
start_row = 3
end_row = 205
start_col = 1
end_col = 3
table_output = []
table_output.append(['All Causes', 'Communicable, maternal, perinatal and nutritional conditions', df.loc[3, country]])
table_output.append(['All Causes', 'Noncommunicable diseases', df.loc[64, country]])
table_output.append(['All Causes', 'Injuries', df.loc[192, country]])
for i in range(start_row,end_row):
    for j in range(start_col,end_col):
        elem = df.iloc[i,j];
        right_elem = df.iloc[i,j+1];
        num_cases = df.loc[i, country]
        if num_cases=="." or num_cases=="0" or pd.isna(df.iloc[i,j+1]):
            num_cases = "0.0"
        tuple_ = (elem, right_elem)
        if tuple_ not in link_list:
            link_list.append(tuple_)
            table_output.append([elem, right_elem, num_cases])
table_output = pd.DataFrame(table_output, columns=['source', 'target', 'value'])
table_output = table_output.dropna(how='any', axis=0)
table_output.to_csv("argentina_sankey.csv")

### Pi paesi

In [34]:
import pandas as pd; import numpy as np
df = pd.read_csv("data/2000.csv");
countries = list(df.columns);
start = np.where(np.array(countries)=="Afghanistan")[0][0]
end = np.where(np.array(countries)=="Zimbabwe")[0][0]
countries = countries[start:end+1]
firstCol = ["All Causes"]
secondCol = ['Communicable, maternal, perinatal and nutritional conditions', 'Noncommunicable diseases']
thirdCol = list(df['specific2'].dropna().to_numpy())
cols_small = [firstCol, secondCol]

In [35]:
def getTotal(table, country, col):
    total = 0.
    num_conditions = 0
    for row in table:
        cur_country = row[0];
        cur_node = row[1];
        value = float(row[3]);
        if cur_country == country and cur_node in col:
            total = total + value;
    return total

desired_sum = 20
def normalize_country_col(table, country, col):
    current_sum = getTotal(table, country, col);
    ratio = desired_sum / current_sum
    for row in table:
        cur_country = row[0];
        cur_node = row[1];
        value = float(row[3]);
        if cur_country == country and cur_node in col:
            row[3] = str(value * ratio)
    return table

def printInfo(table, country, col):
    total = 0.
    for row in table:
        cur_country = row[0];
        cur_node = row[1];
        value = float(row[3]);
        if cur_country == country and cur_node in col:
            total = total + value;
    print(f"total of {col} node for country {country} is {total}");

In [36]:
def sankey_df(dataframe, year):
    df = dataframe.copy()    
    table_output = []
    for country in countries:
        link_list = []
        start_row = 3
        end_row = 205
        start_col = 1
        end_col = 2
        table_output.append([country, 'All Causes', 'Communicable, maternal, perinatal and nutritional conditions', df.loc[3, country], df.loc[3, country]])
        table_output.append([country, 'All Causes', 'Noncommunicable diseases', df.loc[64, country], df.loc[64, country]])
        table_output.append([country, 'All Causes', 'Injuries', df.loc[192, country], df.loc[192, country]])
        link_list.append(('All Causes', 'Communicable, maternal, perinatal and nutritional conditions'))
        link_list.append(('All Causes', 'Noncommunicable diseases'))
        link_list.append(('All Causes', 'Injuries'))
        for i in range(start_row,end_row):
            for j in range(start_col,end_col):
                elem = df.iloc[i,j];
                right_elem = df.iloc[i,j+1];
                num_cases = df.loc[i, country]
                if num_cases=="." or num_cases=="0" or pd.isna(df.iloc[i,j+1]):
                    num_cases = "0.0"
                    continue
                tuple_ = (elem, right_elem)
                if tuple_ not in link_list:
                    link_list.append(tuple_)
                    table_output.append([country, elem, right_elem, num_cases, num_cases])
        
    for country in countries:
        normalize_country_col(table_output, country, ['All Causes'])
        normalize_country_col(table_output, country, ['Communicable, maternal, perinatal and nutritional conditions', 'Noncommunicable diseases', 'Injuries'])
    
    table_output = pd.DataFrame(table_output, columns=[country, 'source', 'target', 'value', 'real deaths'])
    table_output['value'] = table_output['value'].astype(float)
    table_output = table_output[table_output['value'] >= desired_sum / 1000]
    table_output = table_output.dropna(how='any', axis=0)
    table_output.rename(columns = {'Zimbabwe':'Country'}, inplace=True)
    table_output.insert(1, "Year", year)
    return table_output

In [37]:
df1 = pd.read_csv("data/2000.csv")
df2 = pd.read_csv("data/2010.csv")
df3 = pd.read_csv("data/2015.csv")
df4 = pd.read_csv("data/2019.csv")

In [38]:
sankey2000 = sankey_df(df1, "2000")
sankey2010 = sankey_df(df2, "2010")
sankey2015 = sankey_df(df3, "2015")
sankey2019 = sankey_df(df4, "2019")
global_sankey = pd.concat([sankey2000, sankey2010, sankey2015, sankey2019], axis=0)

In [39]:
query = "Year == '2000' and Country == 'Italy' and source=='All Causes'"
global_sankey.query(query)

,Country,Year,source,target,value,real deaths
1977,Italy,2000,All Causes,"Communicable, maternal, perinatal and nutritio...",0.669132,19.0
1978,Italy,2000,All Causes,Noncommunicable diseases,18.390562,522.2
1979,Italy,2000,All Causes,Injuries,0.940306,26.7

In [40]:
query = "Year == '2000' and Country == 'Italy' and source=='Injuries'"
global_sankey.query(query)

     Country  Year    source                  target     value real deaths
2001   Italy  2000  Injuries  Unintentional injuries  0.761368        21.6
2002   Italy  2000  Injuries    Intentional injuries  0.176243         5.0

In [41]:
global_sankey.to_csv("CSV/global_sankey.csv")

In [42]:
print(global_sankey.isnull().sum())

Country        0
Year           0
source         0
target         0
value          0
real deaths    0
dtype: int64

### convert to json

import json

# Read CSV file into a pandas dataframe
df = pd.read_csv("CSV/global_sankey.csv")

# Group by source, target, Country, and Year columns, and aggregate the values
grouped_df = df.groupby(['source', 'target', 'Country', 'Year'])['value'].sum().reset_index()

# Convert the pandas dataframe to a list of dictionaries with the required format
links = []
for _, row in grouped_df.iterrows():
    links.append({"source": row['source'],
                  "target": row['target'],
                  "value": row['value'],
                  "Country": row['Country'],
                  "Year": row['Year']})

# Create a dictionary with links list
data_dict = {"links": links}

# Save the dictionary as a JSON file
with open('sankey.json', 'w') as f:
    json.dump(data_dict, f)

# ECONOMIC

## Violin chart
- country
- year
- status
- life expectancy

In [43]:
violin = kaggle_df[['Year', 'LifeExpectancy', 'Status']]
#violin = violin.groupby(['Year'])
violin.head()

   Year  LifeExpectancy      Status
0  2015            65.0  Developing
1  2014            59.9  Developing
2  2013            59.9  Developing
3  2012            59.5  Developing
4  2011            59.2  Developing

In [44]:
#violin.to_csv("CSV/violin.csv")

## Scatter plot
- TotalExpenditure
- GDP
- %Expenditure
- country
- year

In [45]:
scatter = kaggle_df[['Year', 'GDP', 'TotalExpenditure', '%Expenditure', 'LifeExpectancy', 'Country', 'Population', "Schooling"]]
scatter = scatter.rename(columns = {'TotalExpenditure':'Gov Health Expenditure'}, inplace = False)
scatter.head()

,Year,GDP,Gov Health Expenditure,%Expenditure,LifeExpectancy,Country,Population,Schooling
0,2015,584.259210,8.16,71.279624,65.0,Afghanistan,33736494.0,10.1
1,2014,612.696514,8.18,73.523582,59.9,Afghanistan,327582.0,10.0
2,2013,631.744976,8.13,73.219243,59.9,Afghanistan,31731688.0,9.9
3,2012,669.959000,8.52,78.184215,59.5,Afghanistan,3696958.0,9.8
4,2011,63.537231,7.87,7.097109,59.2,Afghanistan,2978599.0,9.5

In [46]:
scatter.to_csv("CSV/scatter_economic.csv")

## Choroplet map
- country
- TotalExpenditure
- GDP
- %Expenditure
- country
- year

In [47]:
map_df = kaggle_df[["Year", "Country", "LifeExpectancy", "AdultMortality", "Population", "GDP", "TotalExpenditure", "Schooling", "ICOR index"]]
map_df = map_df.rename(columns = {'TotalExpenditure':'Gov Health Expenditure',
                                  'ICOR index':'ICOR'
                                 }, inplace = False)
map_df.head()

,Year,Country,LifeExpectancy,AdultMortality,Population,GDP,Gov Health Expenditure,Schooling,ICOR
0,2015,Afghanistan,65.0,263.0,33736494.0,584.259210,8.16,10.1,0.479
1,2014,Afghanistan,59.9,271.0,327582.0,612.696514,8.18,10.0,0.476
2,2013,Afghanistan,59.9,268.0,31731688.0,631.744976,8.13,9.9,0.470
3,2012,Afghanistan,59.5,272.0,3696958.0,669.959000,8.52,9.8,0.463
4,2011,Afghanistan,59.2,275.0,2978599.0,63.537231,7.87,9.5,0.454

In [48]:
map_df.to_csv("CSV/map_economic.csv")