In [1]:
import pandas as pd
source_file = "data/2000.csv";
dest_file = "sankey.json";

In [ ]:
def add_node_to_graph(curr_id, node_name):

In [3]:
df = pd.read_csv();

     ?    all_causes specific1
0  NaN          code       NaN
1  NaN   population        NaN
2  0.0    All Causes       NaN

In [4]:
df.iloc[0:3, 0:3]

     ?    all_causes specific1
0  NaN          code       NaN
1  NaN   population        NaN
2  0.0    All Causes       NaN